.project-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 500px;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1050;
  overflow-y: auto;
  padding: 20px;
  transition: transform 0.3s ease;
}

.slide-in {
  transform: translateX(0);
}

.slide-out {
  transform: translateX(100%);
}
   
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: left;
  margin-bottom: 5px;
  border-bottom:1px solid #e9ecef;
  padding-bottom: 20px;
}
.modal-header label{
  font-size:18px;
  font-weight: 700;
}
.modal-header i{
  color: rgb(247, 109, 109);
}

.form-group {
  margin-bottom: 0.3rem;
  position: relative;
}
.form-group input {
  margin-top: 0.2rem;
}
.form-group select{
  margin-top: 0.2rem;
}
.form-group label {
  font-weight:400;
  font-size: 13px;
}

.required {
  color: red !important;
}
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 0.2rem;
  padding-top: 5px;
  /* border-top: 1px solid #e9ecef; */
}

 .btn-outline-secondary {
  background-color: white; 
  color: red;
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 4px;
  height: 1.8rem;
  width: 4.8rem;
  font-size:12px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 4px 18px;
  border-radius: 4px;
   height: 1.8rem;
  width: 4.5rem;
    font-size:12px;
}
.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}
 
#description  {
   min-height: 10px;
  resize: vertical;
}

.text-danger {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.ng-invalid.ng-touched,
.ng-invalid.ng-dirty {
  border-color: #dc3545;
}